.wrapper{
    display: grid;
    grid-template-columns: 45% 5% 45%;
}
#leftpage{
    background-color: #fff6ee;;
    
}
form{
    width: 800px;
    margin: auto;
    font-size: 20px;

    padding: 20px;
}
input[type=text]{
    width: 40%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
}

select{
    width: 40%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
}
label{
   
    top: 0;
    left: 10%;
}

h2{
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: AlmarenaDisplayRegular, sans-serif;
    position: absolute;
    top: 40%;
    left: 10%; 
      
}
h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: ariel;
    position: absolute;
    bottom: 20%;
    left: 10%;   
}
h4{
    text-align:;
}
button{
    padding: 10px;
    width: 80%;
    background: blue;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 0 10px 0 0;
}